<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <br>
        <div class='row justify-content-center'>
            <div class='card'>
                <div class='card-body'>
                    <h3 class='card-title'>Reset Your password</h3>

                    <p>Enter your email address and we will send you a link to reset your password</p>

                    <form method='POST'>
                        {% csrf_token%}
                        <label>Email:</label>
                        {{form.email}}<br><br>
                        <input type='submit' class='btn btn-info' value='Send password reset email'>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>