<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <br>
        <div class='row justify-content-center'>
            <div class='card'>
                <div class='card-body'>
                    <h3 class='card-title'>Reset Your password</h3>
                    <p>Check your email to reset your password</p>
                    <a href="{% url 'login' %}" class='btn btn-info'>return to login</a>
                </div>
            </div>
        </div>
    </body>
</html>