<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <br>
        <div class='row justify-content-center'>
            <div class='card'>
                <div class='card-body'>
                  {% if validlink %}
                  <h3 class='card-title'>change password for @{{form.user.username}}</h3>
                  <form method='POST'>
                      {% csrf_token %}
                      {{form}}<br>
                      <input  type='submit' class='btn btn-info' value='change password'>

                  </form>
                  {% else %}
                  <h3 class='card-title'>reset your password</h3>
                  <div class='alert alert-danger'>
                      you clicked a invalid inlink
                  </div>
                  <a href="{% url 'password_reset' %}" class='btn btn-info'>go to reset</a>
                  {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>